body {
  font-family: Roboto, sans-serif;
  color: #757575;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.text {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.42px;
  color: #757575;
}

.title {
  text-align: center;
  color: #212121;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #212121;
}
.link:hover, .link:focus {
  color: #2196f3;
}

.button {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.48px;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
}
.button:hover, .button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.flex-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo {
  font-family: Raleway, sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.78px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover, .logo:focus {
  color: #2196f3;
}
.logo span {
  color: #2196f3;
}

.burger-social-link-list__link {
  color: #2196f3;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.222;
  letter-spacing: 0.36px;
  font-style: normal;
}
.burger-social-link-list__link::after {
  content: " ";
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 22px;
  margin-left: 10px;
  background-color: rgba(33, 33, 33, 0.2);
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
  .contact-list {
    display: none;
  }
  .open-burger-btn {
    padding: 0;
    line-height: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .open-burger-btn__burger-icon {
    -webkit-transition-property: fill;
    transition-property: fill;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .open-burger-btn:hover .open-burger-btn__burger-icon {
    fill: #2196f3;
  }
  .burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-bottom: 38px;
    overflow: auto;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .burger-menu.is-open {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    z-index: 1;
  }
  .mobile-menu__container {
    position: relative;
    padding-left: 40px;
  }
  .burger-menu__close_btn {
    position: absolute;
    top: 16px;
    right: 15px;
    padding: 0;
    line-height: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .burger-menu__svg {
    -webkit-transition-property: fill;
    transition-property: fill;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .burger-menu__close_btn:hover .burger-menu__svg {
    fill: #2196f3;
  }
  .burger-menu-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-burger-menu {
    padding-top: 48px;
  }
  .burger-nav-list__marker-list:first-child {
    margin-bottom: 36px;
  }
  .burger-nav-list__marker-list:nth-child(2) {
    margin-bottom: 32px;
  }
  .burger-nav-list__link {
    color: #212121;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.8px;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .burger-nav-list__link:hover {
    color: #2196f3;
  }
  .current {
    color: #2196f3;
  }
  .burger-adress-list {
    margin-bottom: 64px;
  }
  .burger-adress-list__item:first-child {
    margin-bottom: 32px;
  }
  .burger-adress-list__adress-link {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.68px;
    color: #2196f3;
    font-style: normal;
  }
  .burger-adress-list__mail-link {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.48px;
    color: #757575;
    font-style: normal;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .burger-adress-list__mail-link:hover {
    color: #2196f3;
  }
  .burger-social-link-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .burger-social-link-list__item {
    padding-bottom: 10px;
  }
  .burger-social-link-list__item:not(:last-child) {
    margin-right: 20px;
  }
}
@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }
  .open-burger-btn {
    display: none;
  }
  .flex-wrap {
    padding: 0;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-list__item:not(:last-child) {
    margin-right: 52px;
  }
  .nav-list__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    letter-spacing: 0.28px;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list__link.current {
    color: #2196f3;
    cursor: default;
  }
  .nav-list__link.current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
  }
  .contact-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .contact-list__item:first-child {
    margin-bottom: 10px;
  }
  .contact-list__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #757575;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: 0.28px;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-list__icon {
    margin-right: 8px;
    fill: currentColor;
    -webkit-transition-property: fill;
    transition-property: fill;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-list__icon:hover .contact-list__icon {
    fill: #2196f3;
  }
}
@media screen and (min-width: 1200px) {
  .flex-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .header-logo {
    margin-right: 93px;
  }
  .contact-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
  .contact-list__item:first-child {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .contact-list__link {
    font-size: 14px;
  }
}
.solutions {
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 480px;
  height: 400px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bg-img-mob.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-img-mob.jpg);
  background-repeat: no-repeat;
  background-size: 480px 400px;
  background-color: #c4c4c4;
  text-align: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .solutions {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bg-img-mob@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-img-mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .solutions {
    max-width: 768px;
    height: 400px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bg-img-tab.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-img-tab.jpg);
    background-size: 768px 400px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .solutions {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bg-img-tab@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-img-tab@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .solutions {
    max-width: 1600px;
    height: 600px;
    padding-bottom: 200px;
    padding-top: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bg-img-desk.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-img-desk.jpg);
    background-size: 1600px 600px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .solutions {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background-img-1200@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background-img-1200@2x.jpg);
  }
}

.solutions-title {
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.615;
  letter-spacing: 1.56px;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .solutions-title {
    max-width: 696px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.364;
    letter-spacing: 2.64px;
  }
}

.solutions-button {
  padding: 10px 32px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.96px;
  background-color: #2196f3;
  border: 0px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.solutions-button:hover, .solutions-button:focus {
  background-color: #188ce8;
}

@media screen and (max-width: 767px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .features-list:not(:last-child) {
    margin-bottom: 30px;
  }
}
.features-list__icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  max-width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.features-list__title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .features-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .features-list__icon-wrap {
    max-width: 354px;
  }
  .features-list__title {
    text-align: left;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list {
    margin-right: -30px;
    margin-bottom: -30px;
  }
  .features-list__item {
    margin-right: 30px;
    margin-bottom: 30px;
    width: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .section.features {
    padding-bottom: 0;
  }
  .features-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-right: -30px;
  }
  .features-list__item {
    width: calc((100% - 90px) / 4);
    margin-right: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .section.employment {
    display: none;
  }
}
.employment-title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 1.08px;
}

.employment-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.employment-list__item {
  position: relative;
}
.employment-list__item:not(:last-child) {
  margin-right: 30px;
}
.employment-list__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.42px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

.team-title {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 1.08px;
}

.team-list__item {
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
@media screen and (max-width: 767px) {
  .team-list__item {
    max-width: 767px;
    max-height: 767px;
    margin-bottom: 30px;
  }
}

.team-list__description {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.team-list__title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.48px;
}

.team-list__text {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.48px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social-list__item:not(:last-child) {
  margin-right: 10px;
}
.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  background-color: #ffffff;
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  fill: #ffffff;
  background-color: #2196f3;
}
.social-list__link:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: -30px;
    margin-left: -30px;
  }
  .team-list__item {
    width: calc((100% - 60px) / 2);
    height: 100%;
    margin-bottom: 30px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-bottom: 0;
  }
  .team-title {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 1.08px;
  }
}
.clients-title {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 1.08px;
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 1199px) {
  .clients-list {
    gap: 30px;
  }
}

.clients-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .clients-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200) {
  .clients-list__item {
    width: 100%;
  }
}

.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  -webkit-transition-property: color, border;
  transition-property: color, border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover, .clients-list__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}
@media screen and (min-width: 768px) {
  .clients-list__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__link {
    width: 170px;
  }
}

.clients-list__icon {
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .clients-title {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 1.08px;
  }
  .clients-list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .clients-list__item {
    width: 170px;
  }
  .clients-list__item:not(:last-child) {
    margin-right: 30px;
  }
  .clients-list__link {
    width: 170px;
  }
}
.site-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-contacts {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .footer-contacts {
    margin-bottom: 60px;
  }
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
  color: #ffffff;
}

.communication-list__item:not(:last-child) {
  margin-bottom: 7px;
}

.communication-list__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  letter-spacing: 0.42px;
  font-style: normal;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.communication-list__link--white {
  color: #ffffff;
}

.footer-socials {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .footer-socials {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-socials {
    text-align: left;
  }
}

.footer-socials__text,
.footer-subscribe__text {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.15;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.social-list__link-footer {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}
.social-list__link-footer:hover, .social-list__link-footer:focus {
  background-color: #2196f3;
}

.footer-subscribe {
  text-align: center;
}

.footer-subscribe__text {
  display: block;
  cursor: pointer;
}

.subscribe-form__input {
  margin-bottom: 20px;
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  background-color: rgba(33, 150, 243, 0);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 435px) {
  .subscribe-form__input {
    width: 300px;
  }
}
@media screen and (max-width: 340px) {
  .subscribe-form__input {
    width: 275px;
  }
}
.subscribe-form__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.48px;
}
.subscribe-form__input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.48px;
}
.subscribe-form__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.48px;
}
.subscribe-form__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.48px;
}
.subscribe-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.48px;
}

.subscribe-form__input:focus {
  border-color: #2196f3;
}

.subscribe-button {
  margin-left: 12px;
  padding: 10px 28px;
  width: 200px;
  height: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.96px;
  background-color: #2196f3;
  border: #2196f3;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-button:hover, .subscribe-button:focus {
  background-color: #188ce8;
}
.subscribe-button__icon {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer-subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscribe-form__input {
    display: block;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer-contacts {
    text-align: left;
  }
  .footer-subscribe__text {
    display: block;
    text-align: left;
  }
  .footer-subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 93px;
    text-align: left;
  }
  .subscribe-form__input {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 12px;
    width: 358px;
  }
}
@media screen and (min-width: 768px) {
  .contacts-socials-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-socials-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-hidden .modal {
  -webkit-transform: translate(-100%, -100%);
          transform: translate(-100%, -100%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 450px;
  min-height: 609px;
  padding: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  color: #000000;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
}
.modal-close:hover .modal-close__icon, .modal-close:focus .modal-close__icon {
  fill: #2196f3;
}
.modal-close__icon {
  width: 11px;
  height: 11px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  margin-bottom: 12px;
  text-align: center;
  color: #212121;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.6px;
}
@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 1.15;
  }
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form-label {
  margin-bottom: 4px;
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.12px;
  cursor: pointer;
}

.modal-form__input-container {
  position: relative;
  margin-bottom: 10px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding: 11px 12px 11px 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  outline: none;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus {
  border-color: #2196f3;
}

.modal-form__input-svg {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input:focus + .modal-form__input-svg {
  fill: #2196f3;
}

.modal-form__feedback {
  width: 100%;
  height: 120px;
  resize: none;
  margin-bottom: 20px;
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__feedback:focus {
  border-color: #2196f3;
}
.modal-form__feedback::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.12px;
}
.modal-form__feedback::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.12px;
}
.modal-form__feedback:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.12px;
}
.modal-form__feedback::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.12px;
}
.modal-form__feedback::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.12px;
}

.modal-form__agreement-wrap {
  margin-bottom: 30px;
}

.modal-form__terms-use {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.36px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .modal-form__terms-use {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.714;
    letter-spacing: 0.42px;
  }
}
.modal-form__terms-use::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 1px solid #000000;
  background-image: url(../img/checkbox-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  -webkit-transition-property: border-color, background-color;
  transition-property: border-color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__agreement:focus + .modal-form__terms-use::before {
  border-color: #2196f3;
}
.modal-form__agreement:checked + .modal-form__terms-use::before {
  background-color: #2196f3;
}

.modal-form__link {
  color: #2196f3;
  text-decoration: underline;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__link:hover, .modal-form__link:focus {
  color: #188CE8;
  text-decoration: none;
}

.wrap-modal-button {
  text-align: center;
}

.modal-button {
  width: 200px;
  height: 50px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.96px;
  background-color: #2196f3;
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:focus, .modal-button:hover {
  background-color: #188ce8;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
.filter-list__item:not(:last-child) {
  margin-right: 8px;
}
.filter-list__button {
  padding: 6px 22px;
  border: 0;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-list__button:hover, .filter-list__button:focus {
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.portfolio-list__item {
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-list__item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-list__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.portfolio-list__link {
  display: block;
  text-decoration: none;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__link:hover, .portfolio-list__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list__thumb {
  position: relative;
  overflow: hidden;
}
.portfolio-list__thumb-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  height: 100%;
  color: #ffffff;
  font-size: 18px;
  line-height: 1.556;
  letter-spacing: 0.54px;
  opacity: 1;
}
.portfolio-list__thumb-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__item:hover .portfolio-list__thumb-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.portfolio-list__descr {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}
.portfolio-list__title {
  margin-bottom: 3px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  text-align: left;
}
.portfolio-list__text {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.48px;
}/*# sourceMappingURL=main.css.map */