.modal-title {
    margin-bottom: 12px;
    text-align: center;
    color: $secondTextColor;
    @include fonts(20px, 700, 1.5, 0.6px);

    @media screen and (min-width: 1200px) {
        line-height: 1.15;
    }
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form-label {
    margin-bottom: 4px;
    color: $primaryTextColor;
    @include fonts(12px, 400, 1.15, 0.12px);
    cursor: pointer;
}

.modal-form__input-container {
    position: relative;
    margin-bottom: 10px;
}

.modal-form__input {
    width: 100%;
    height: 40px;
    padding: 11px 12px 11px 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    cursor: pointer;
    outline: none;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: $timingFunсtion;

    &:focus {
        border-color: $accentColor;
    }
}

.modal-form__input-svg {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    fill: $secondTextColor;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: $timingFunсtion;

    .modal-form__input:focus + & {
        fill: $accentColor;
    }
}

.modal-form__feedback {
    width: 100%;
    height: 120px;
    resize: none;
    margin-bottom: 20px;
    padding: 12px 16px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: none;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: $timingFunсtion;

    &:focus {
        border-color: $accentColor;
    }

    &::placeholder {
        color: rgba(117, 117, 117, 0.5);
        @include fonts(12px, 400, 1.15, 0.12px);        
    }
}

.modal-form__agreement-wrap {
    margin-bottom: 30px;
}

.modal-form__terms-use {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: $primaryTextColor;
    @include fonts(12px, 400, 1.15, 0.36px);
    cursor: pointer;

    @media screen and (min-width: 1200px) {
        @include fonts(14px, 400, 1.714, 0.42px);
    }

    &::before {
        display: inline-block;
        content: '';
        width: 16px;
        height: 15px;
        margin-right: 8px;
        border: 1px solid #000000;
        background-image: url(../img/checkbox-icon.svg);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        transition-property: border-color, background-color;
        transition-duration: 250ms;
        transition-timing-function: $timingFunсtion;

        .modal-form__agreement:focus + & {
            border-color: $accentColor;
        }

        .modal-form__agreement:checked + & {
            background-color: $accentColor;
        }
    }
}

.modal-form__link {
    color: $accentColor;
    text-decoration: underline;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: $timingFunсtion;

    &:hover,
    &:focus {
        color: #188CE8;
        text-decoration: none;
    }
}

.wrap-modal-button {
    text-align: center;
}

.modal-button {
    width: 200px;
    height: 50px;
    color: $primaryBgColor;
    @include fonts(16px, 700, 1.875, 0.96px);
    background-color: $accentColor;
    border-radius: 4px;
    border: transparent;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: $timingFunсtion;

    &:focus,
    &:hover {
        background-color: #188ce8;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
    }
}
