
body {
    font-family: $primaryFontFamily;
    color: $primaryTextColor;
    background-color: $primaryBgColor;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.section {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.text {
    color: $primaryTextColor;
    @include fonts(14px, 400, 1.714, 0.42px);
}

.title {
    text-align: center;
    color: $secondTextColor;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: $secondTextColor;

    &:hover,
    &:focus {
        color: $accentColor;
    }
}

.button {
    display: inline-block;
    color: $secondTextColor;
    @include fonts(16px, 500, 1.625, 0.48px);
    background-color: $secondBgColor;
    border-radius: 4px;
    cursor: pointer;

    &:hover,
    &:focus {
        color: $primaryBgColor;
        background-color: $accentColor;
    }
}
