.filter-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;

    &__item:not(:last-child) {
        margin-right: 8px;
        margin-bottom: 15px;
    }

    &__button {
        padding: 6px 22px;
        border: 0;
        transition-property: color, background-color, box-shadow;
        transition-duration: 250ms;
        transition-timing-function: $timingFunсtion;
    }

    &__button:hover,
    &__button:focus {
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
            0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
    }

    @media screen and (min-width: 768px) {
        justify-content: center;
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}


.portfolio-list {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.portfolio-list__item {
    width: 100%;
    outline: 1px solid #eeeeee;

    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: calc((100% - 60px) / 2);
        margin: 15px;
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 60px) / 3);

        &:not(:nth-child(3n)) {
            margin-right: 30px;
        }

        &:not(:nth-last-child(-n + 3)) {
            margin-bottom: 30px;
        }
    }
}

.portfolio-list__link {
    display: block;
    width: 100%;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: $timingFunсtion;

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.portfolio-list__thumb {
    position: relative;
    overflow: hidden;
}

.portfolio-list__thumb-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    opacity: 0;
    padding: 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    color: $primaryBgColor;
    @include fonts(18px, 400, 1.556, 0.54px);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: $timingFunсtion;

    .portfolio-list__link:hover &,
    .portfolio-list__link:focus & {
        opacity: 1;
        transform: translateY(0);
    }
}

.portfolio-list__descr {
    padding: 20px 24px;
}

.portfolio-list__title {
    margin-bottom: 4px;
    text-align: left;
    @include fonts(18px, 700, 2, 1.08px);
}

.portfolio-list__text {
    @include fonts(16px, 400, 1.875, 0.48px);
}
