@media screen and (max-width:767px) {
    .features-list {
        display: flex;
        flex-direction: column;

        &__item:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}

.features-list__icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    max-width: 450px;
    height: 120px;
    background-color: $secondBgColor;
    border-radius: 4px;
}

.features-list__title {
    margin-bottom: 10px;
    @include fonts(14px, 700, 1.15, 0.42px);
    text-transform: uppercase;
}

@media screen and (min-width:768px) {
    .features-list {
        display: flex;
        flex-wrap: wrap;
    }

    .features-list__icon-wrap {
        max-width: 354px;
    }

    .features-list__title {
        text-align: left;
    }
}

@media screen and (min-width:768px) and (max-width:1199px) {
    .features-list {
        margin-right: -30px;
        margin-bottom: -30px;
    }

        .features-list__item {
        margin-right: 30px;
        margin-bottom: 30px;
        width: calc((100% - 60px) / 2);
    }
}

@media screen and (min-width:1200px) {
    .section.features {
        padding-bottom: 0;
    }

    .features-list {
        flex-wrap: nowrap;
        margin-right: -30px;
    }

    .features-list__item {
        width: calc((100% - 90px) / 4);
        margin-right: 30px;
    }
}
